:root {
    --white: #ffffff;
    --near-white: #f8f8f8;
    --off-white: #f1f1f1;
    --light-grey: #cecece;
    --mid-grey: #9e9e9e;
    --grey: #7a7a7a;
    --dark-grey: #686868;
    --light-charcoal: #2a2a2a;
    --charcoal: #222222;
    --black: #171717;

    --yellow: #e2d370;
    --lime: #cce66e;
    --green: #9fec83;
    --turquoise: #75eca7;
    --aqua: #6ce1d3;
    --light-blue: #68d3f0;
    --blue: #61b7ff;
    --dark-blue: #669af6;
    --indigo: #6c7ded;
    --violet: #7d62f0;
    --purple: #8d45f3;
    --light-purple: #af42f0;
    --magenta: #d046e9;
    --pink: #da54ab;
    --salmon: #dc4f82;
    --scarlet: #dc5164;
    --red: #e46868;
    --tangerine: #ed896e;
    --orange: #f7ad7b;

    --light-bg: var(--off-white);
    --light-text: var(--dark-grey);
    --light-section: var(--white);
    --light-primary-colour: var(--scarlet);

    --dark-bg: var(--black);
    --dark-text: var(--light-grey);
    --dark-section: var(--charcoal);
    --dark-primary-colour: var(--scarlet);

    --border-rounding: 24px;
}

/* === FONTS === */
@font-face {
  font-family: 'Eina03';
  src: url('assets/Eina-Font/Eina03-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Eina03';
  src: url('assets/Eina-Font/Eina03-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Eina03';
  src: url('assets/Eina-Font/Eina03-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Eina03-RegularItalic';
  src: url('assets/Eina-Font/Eina03-RegularItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Eina03';
  src: url('assets/Eina-Font/Eina03-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Eina03';
  src: url('assets/Eina-Font/Eina03-SemiboldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Eina03';
  src: url('assets/Eina-Font/Eina03-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Eina03';
  src: url('assets/Eina-Font/Eina03-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap; }

@font-face {
    font-family: 'Cocogoose';
    src: url('assets/Cocogoose-Font/CocogooseProTrial-Semilight.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap; }


/* === THEME SETTINGS === */
body.light-mode {
  --bg-colour: var(--light-bg);
  --text-colour: var(--light-text);
  --section-bg: var(--light-section);
  --button-bg: var(--white);
  --button-text: var(--charcoal);
  --primary-colour: var(--light-primary-colour);
  --backdrop-gradient: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  --alt-section-bg: var(--near-white);
}

body.dark-mode {
  --bg-colour: var(--dark-bg);
  --text-colour: var(--dark-text);
  --section-bg: var(--dark-section);
  --button-bg: var(--charcoal);
  --button-text: var(--off-white);
  --primary-colour: var(--dark-primary-colour);
  --backdrop-gradient: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
  --alt-section-bg: var(--light-charcoal);
}


/* === GENERAL STYLES === */
body {
  text-align: center;

  margin: 0;
  padding: 0;

  font-family: 'Eina03', sans-serif;
  font-weight: 300;
  font-size: 18px;
  
  color: var(--text-colour);
  background: var(--bg-colour);

  transition: background 0.15s;
}

/* === HEADER STYLES === */
#header {
  position: fixed;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 20px;

  width: 100%;
  height: 10vh; /* Maximum header height */
  min-height: 80px;

  color: var(--text-colour);
  background: transparent;
  overflow-y: visible;

  z-index: 1000;
  transition: height 0.1s linear;
}

#theme-toggle {
  padding: 12px 15px 8px;

  color: var(--button-text);
  background: var(--button-bg);
  border-radius: 12px;

  cursor: pointer;
  transition: background 0.3s, color 0.3s, transform 0.1s linear;
}


/* === LOGO (SVG) === */
#logo {
  transform: translate(13.5vw, 35vh);

  aspect-ratio: 2.536;
  width: 36vw;

  background: var(--primary-colour);
  shape-rendering: optimizeSpeed;

  -webkit-mask-image: url("assets/QLAudioLogo.svg");
  mask-image: url("assets/QLAudioLogo.svg");
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;

  transition: width 0.5s ease, transform 0.8s ease;
}

/* Logo state after transition */
#logo.shrink {
  transform: translateY(0);

  width: 8vw;
}


/* === SLASH SCREEN CELL === */
#foreground-cell-wrapper {
  position: absolute;
  transform: translate(100%, -90%);
  
  top: 50%;
  left: 50%;

  z-index: 10; /* Ensure it’s above the scrolling background */
}

.popup-text {
  position: absolute;
  transform: translateX(-50%) translateY(10px); /* Start a bit below final position */

  bottom: 100%;  /* Position it above the button */
  left: 50%;

  font-size: 1.1rem;

  opacity: 0;
  color: var(--text-colour);

  pointer-events: none;  /* So it doesn't interfere with clicks */
  animation: popup-in 0.8s forwards;  /* Animate in on load */
  animation-delay: 1.5s; /* Wait this much time before animation starts */
}

/* Keyframes for the popup text appearing */
@keyframes popup-in {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(-4px);
  }
}

/* Keyframes for the popup text disappearing */
@keyframes popup-out {
  from {
    opacity: 1;
    transform: translateX(-50%) translateY(-4px);
  }
  to {
    opacity: 0;
    transform: translateX(-50%) translateY(-18px);
  }
}


/* === APP BACKDROP === */
#app-backdrop {
  width: 100%;
  height: fit-content;
}

#app-backdrop::before {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 120%;

  background: var(--backdrop-gradient);

  content: "";
  z-index: 1;
  pointer-events: none;
}

.scrolling-grid {
  display: flex;
  justify-content: flex-start;

  width: 100%;

  overflow: hidden;
  filter: blur(1.5px);
}

.grid-wrapper {
  display: flex;

  width: 200%; /* Holds two copies of the grid */
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);

  gap: 12px;
  margin-top: 12px;
  margin-right: 12px;
}

/* Non-interactive grid cells */
.grid-cell {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  gap: 6%; /* Spacing between visualizer and text */

  aspect-ratio: 1.66;
  width: 94px;

  font-family: 'Cocogoose', sans-serif;
  font-size: 0.5em;
  line-height: 1.2em;

  background-color: var(--button-bg);
  border-radius: 10px;

  pointer-events: none; /* Ensures no interaction */
  user-select: none; /* Prevent text selection */
  -webkit-user-select: none;
}


/* === CLASS STYLES === */
button {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Eina03', sans-serif;
  font-weight: 300;
  font-size: 1rem;

  color: var(--button-text);
  background: var(--button-bg);
  border-radius: var(--border-rounding);
  border: none;

  cursor: pointer;
  user-select: none; /* Prevent text selection */
  -webkit-user-select: none;
  transition: background 0.3s, color 0.3s;
}

/* Audio Cell */
.audio-cell {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 216px;
  height: 130px;
  min-width: 216px;
  min-height: 130px;
  max-width: 216px;
  max-height: 130px;

  font-family: 'Cocogoose', sans-serif;
  font-size: 1em;
  line-height: 1.2em;

  color: var(--cell-colour);
  background-color: var(--button-bg);

  cursor: pointer;
  transition: background 0.3s;
}

/* Pseudo-element for outer border overlay */
.audio-cell.active::before {
  position: absolute;

  border-radius: inherit;
  border: 3px solid var(--cell-colour);
  inset: -3px;

  mask: var(--outer-border-mask, conic-gradient(from 0deg, transparent 360deg, white 0deg));
  -webkit-mask: var(--outer-border-mask, conic-gradient(from 0deg, transparent 360deg, white 0deg));

  content: "";
  transition: none;
}

/* Pseudo-element for border overlay */
.audio-cell::after {
  position: absolute;

  border-radius: inherit;
  border: 3px solid var(--cell-colour);
  inset: -1px;

  mask: var(--border-mask, conic-gradient(from 0deg, transparent 360deg, white 0deg)) ;
  -webkit-mask: var(--border-mask, conic-gradient(from 0deg, transparent 360deg, white 0deg)) ;

  content: "";
  transition: none;
}

/* Active state - Animates the mask to reveal the border clockwise */
.audio-cell.active::after {
  mask: var(--border-mask);
  -webkit-mask: var(--border-mask);
}

.visualizer {
  display: flex;  
  justify-content: space-between;
  align-items: flex-end; /* Aligns stems to the bottom */

  margin-top: 10%;

  width: 86%; 
  height: 40%;
}

.stem {
  aspect-ratio: 1;
  width: 2.6%;

  background-color: var(--cell-colour); /* Adjust to match design */
  border-radius: 10px; /* Keeps them rounded */

  transition: height 0.08s ease-out;
}

.cell-label {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 3%;
  margin-bottom: 2%;

  width: 88%; 
  height: 40%;

  font-size: 1em;

  overflow: hidden;
}

.arrow-left {
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 30px solid var(--text-colour);
}


/* === SECTION STYLES === */
section {
  margin: 12% auto 100px;
  padding: 60px;

  min-height: 200px;
  max-width: 60%;

  background: var(--section-bg);
  border-radius: var(--border-rounding);

  transition: background 0.3s;
}


/* === MAIN CONTENT === */
#content {
}

/* Intro section */
#intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  gap: 120px;
}


#intro-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: start;

  width: 30%;
  height: 100%;
}

#intro-heading {
  font-weight: 600;
  font-size: 3.2em;
  line-height: 1.2em;

  margin-bottom: 4%;

  color: var(--tangerine);
}

#app-image {
  align-self: center;

  max-height: 300px;

  transition: 3s;
}

/* Demo section */
#demo::before {
  position: absolute;

  top: var(--before-top);
  left: 0;

  width: 100%;
  height: 100%;

  background: var(--alt-section-bg);

  content: "";
  z-index: -1;
}

#demo {
  position: relative;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background: var(--section-bg);

  overflow: hidden; /* Prevents ::before from spilling outside */

  z-index: -2;
}

#demo-preamble {
  margin-bottom: 120px;

  width: 90%;

  font-size: 1.1em;

  color: var(--orange);
}

#demo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;

  gap: 80px;
}

#demo-header {
  text-align: end;
}

#demo-heading-line {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  gap: 1.5em;
}

#arrow-left {
  font-size: 1.2em;
}

#demo-heading {
  font-weight: 600;
  font-size: 2.8em;

  /* color: var(--turquoise); */
}

#demo-cells {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: center;
  align-items: center;

  gap: 20px;

  width: fit-content;
}